$warning:       rgba(255 , 121, 24, 1) ;
$danger: #442668;
$dropdown-color:                    white;
$dropdown-bg:                       #442668;
$dropdown-link-hover-bg:            rgba(98, 57, 147, 0.38);
@import "node_modules/bootstrap/scss/bootstrap";